cmake==4.3.0
gcovr==8.6
cpplint==2.0.2
meson==1.10.2
cppcheck-junit==2.4.0
lizard==1.21.2
cpp-demangle2==0.1.3
coverxygen==1.8.2
cornichon==0.9.6
gdb-tools==1.5
licenseheaders==0.8.8
reuse==6.2.0
spdx-tools==0.8.5